@mixin msp-width-container($width: $msp-page-width) {
  // Limit the width of the container to the page width
  max-width: $width;

  @include govuk-if-ie8 {
    width: $width;
  }

  // On mobile, add half width gutters
  margin: 0 $msp-gutter-half;

  // On tablet, add full width gutters
  @include mq($from: tablet) {
    margin: 0 $msp-gutter;
  }

  // As soon as the viewport is greater than the width of the page plus the
  // gutters, just centre the content instead of adding gutters.
  @include mq($and: "(min-width: #{($width + $msp-gutter * 2)})") {
    margin: 0 auto;
  }
}