/* ==========================================================================
   #ALERT
   ========================================================================== */

.msp-banner {
  border: 5px solid govuk-colour("blue");
  color: govuk-colour("blue");
  font-size: 0; // Removes white space when using inline-block on child element.
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}


.msp-banner__icon {
  fill: currentColor;
  float: left;
  margin-right: govuk-spacing(2);
}


.msp-banner__message {
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
}

.msp-banner__message {
  h2 {
    margin-bottom: govuk-spacing(2);
  }

  h2:last-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}


.msp-banner__assistive {
  @include govuk-visually-hidden;
}


/* Style variants
   ========================================================================== */

.msp-banner--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}


.msp-banner--warning {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}
