/* ==========================================================================
   #ASSETS
   ========================================================================== */

// Assets folder
$msp-assets-path: "/msp-assets/" !default;

// Path the images folder
$msp-images-path: "#{$msp-assets-path}images/" !default;
