/* ==========================================================================
   #COLOURS
   ========================================================================== */

$msp-border-color: rgb(161, 172, 178);
$msp-secondary-text-color: rgb(69, 74, 76);

$msp-secondary-link-color: rgb(69, 74, 76);
$msp-secondary-link-hover-color: rgb(23, 24, 25);
