/* ==========================================================================
   #MEASUREMENTS
   ========================================================================== */

// Width of main container
$msp-page-width: 960px !default;


// Width of gutter between grid columns
$msp-gutter: 30px !default;


// Width of half the gutter between grid columns
$msp-gutter-half: $msp-gutter / 2;
