<div class="msp-primary-navigation {{- ' ' + params.classes if params.classes}}">

  <div class="msp-primary-navigation__container">

    <div class="msp-primary-navigation__nav">

      <nav class="msp-primary-navigation"{% if (params.label) %} aria-label="{{ params.label }}"{% endif %}>

        <ul class="msp-primary-navigation__list">

          {% for item in params.items %}
            <li class="msp-primary-navigation__item">
              <a class="msp-primary-navigation__link" {{ 'aria-current="page"' | safe if item.active }} href="{{ item.href }}">
                {{ item.html | safe if item.html else item.text }}
              </a>
            </li>
          {% endfor %}

        </ul>

      </nav>

    </div>

  {% if params.searchHtml %}
    <div class="msp-primary-navigation__search">
      {{ params.searchHtml | safe }}
    </div>
  {% endif %}

  </div>

</div>