{% extends "layouts/base.html" %}

{% block body %}
  <h1 class="govuk-heading-l">Frontend Ministerstva spravedlnosti</h1>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/components/banner">Banner</a></li>
    <li><a href="/components/timeline">Časová osa</a></li>
    <li><a href="/components/sub-navigation">Druhotná navigace</a></li>
    <li><a href="/components/filter">Filtr</a></li>
    <li><a href="/components/filter-toggle-button">Filtr přepínač</a></li>
    <li><a href="/components/header">Hlavička</a></li>
    <li><a href="/components/action-bar">Lišta akcí</a></li>
    <li><a href="/components/identity-bar">Lišta s identitami</a></li>
    <li><a href="/components/menu">Menu</a></li>
    <li><a href="/components/badge">Odznak</a></li>
    <li><a href="/components/footer">Patička</a></li>
    <li><a href="/components/primary-navigation">Primární navigace</a></li>
    <li><a href="/components/add-another">Přidat další</a></li>
    <li><a href="/components/rich-text-editor">Rich text editor</a></li>
    <li><a href="/components/sortable-table">Setříditelná tabulka</a></li>
    <li><a href="/components/pagination">Stránkování</a></li>
    <li><a href="/components/page-header-with-actions">Titulek stránky s akcemi</a></li>
    <li><a href="/components/buttons">Tlačítka</a></li>
    <li><a href="/components/progress-bar">Ukazatel průběhu</a></li>
    <li><a href="/components/form-validator">Validátor formuláře</a></li>
    <li><a href="/components/currency-input">Vstupní pole pro měnu</a></li>
    <li><a href="/components/search">Vyhledávač</a></li>
  </ul>
{% endblock %}
